<div>
  <mat-card class="matCardAlign">
    <mat-card-content>
      <div fxLayout="row" fxLayoutGap="25px" fxLayout.sm="column" fxLayout.xs="column" style="margin-top:15px; ">
        <div fxFlex="50" fxLayout="column">
          <!--Search fields-->
          <div fxLayout="row" fxLayoutGap="15px" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column">
            <mat-form-field fxFlex="89">
              <mat-label>Rate Type</mat-label>
              <input matInput type="text" #filterText [(ngModel)]="searchText" (keypress)="omit_special_char($event)" (keydown.enter)="doFilter(searchText)" placeholder="Description" matTooltip="Enter Description">
            </mat-form-field> 
            <div>
              <button type="submit" mat-raised-button color="primary" class="filterButtonClass"
                style="text-align:center;margin-top: 5px;" (click)="doFilter(searchText)">
                <mat-icon>search</mat-icon>Search
              </button>
            </div>
          </div>

          <!--Rate Type table-->
          <div class="scrollgrid-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort matSortActive="description"  [matSortDisableClear]="true" matSortDirection="asc">
              <ng-container matColumnDef="description" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="start center" fxFlex="90">Description</th>
                <td mat-cell *matCellDef="let rates" fxLayoutAlign="start center" fxFlex="90" class="columnTextElipsis"  [matTooltip]="rates.description" >{{rates.description}}</td>
              </ng-container>

              <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="center center" >Active</th>
                <td mat-cell *matCellDef="let rates" fxFlex="10" fxLayoutAlign="center center"
                  [ngStyle]="{'color':rates.active?'green':'orange'}">
                  <mat-icon class="mat-18"><b>{{rates.active ? 'done' : 'clear'}}</b></mat-icon></td>
              </ng-container>	

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef fxLayoutAlign="center center" > Delete </th>
                <td mat-cell *matCellDef="let rates" fxLayoutAlign="center center">
                  <button mat-icon-button color="warn" (click)= "$event.stopPropagation()"
                  (click)="deleteRateDescription(rates.rateTypeID)">
                    <mat-icon class="mat-18">delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <!-- Delete / Update buttons End -->
              <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
              <tr mat-row (click)="selectRow(rates)"  *matRowDef="let rates; columns: tableColumns"
                [style.background]="highlightedRows.indexOf(rates) != -1 ? '#eaf4f9' : ''"></tr>
            </table>
            <div class="notFoundData" [hidden]="isTableHasData">No data found </div>
          </div>
        </div>

        <!--Form fields-->
        <div fxFlex="35" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" style="margin-left:15px;">
          <mat-card style="margin-top:60px;">
            <mat-card-header> <p style="margin-top:5px;">Rate Type Information</p> </mat-card-header>
            <mat-card-content>
              <form [formGroup]="RateDescriptionForm" autocomplete="off" novalidate (ngSubmit)="onFormSubmit()">
                <div fxLayout="column">      
                  <mat-form-field class="descriptionControls" style="margin-left: 4px;">
                    <input matInput #rateDesc formControlName="description" matTooltip="Enter Description" (input)="isChange()"
                      matInput placeholder="Description"  maxlength="50" [errorStateMatcher]="errorMatcher" required >
                    <mat-error *ngIf="hasError('description', 'required')">Description is required.</mat-error>
                    <mat-error *ngIf="hasError('description', 'space')">{{SpaceMessage}}</mat-error>
                  </mat-form-field>
                  <mat-checkbox fxLayoutAlign="left" checked="true" style="margin-left:15px"
                    formControlName="active" matTooltip="Select Active"   (change)="isChange()">Active
                  </mat-checkbox>
                  <mat-error *ngIf="isInUse"  style="font-size:11px;padding-left:14px;">Rate Type in use.</mat-error> 
                </div>
                <div fxLayout.lg="row" fxLayout.sm="row" fxLayout.md="row" fxLayout.xs="row" fxLayoutGap="15px" fxLayoutAlign="center center">
									<button type="submit" mat-raised-button color="primary" class="filterButtonClass" [disabled]="!(RateDescriptionForm.valid && isAllowSave)"> <mat-icon>save</mat-icon> Save</button>
									<button type="button" mat-raised-button  class="filterButtonClass" (click)="resetForm()" ><mat-icon>clear_all</mat-icon> Reset </button> 
								</div>	
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
