<table style="width:400px; height:220px; background-color: white;"> 
  <tr mat-dialog-title><mat-icon > warning </mat-icon> 
    <label style="display: inline-block; width:250px; 
	position: absolute;font-size: 25px;
    text-align: center;">{{title}}</label>

  </tr>
  <tr style="background-color: white" > 
    <td [ngStyle]="{'text-align': alignLeft == true ? 'left' : 'center','padding-left':alignLeft == true ?'10px':'0px' }" >
      <mat-dialog-content [formGroup]="form" id="descID">
          {{description}}
        </mat-dialog-content>
      </td>
    </tr>    
    <tr>
        <mat-dialog-actions>
            <button class="mat-raised-button filterButtonClass"  (click)="dialogOK()" style="margin-left:85px">OK</button>
            <button class="mat-raised-button mat-primary filterButtonClass" (click)="dialogCancel()">Cancel</button>      
        </mat-dialog-actions>
  </tr>
</table>



<!-- <h2 mat-dialog-title>{{title}}</h2>
<br>
<mat-dialog-content >  
  
  {{description}}
 
</mat-dialog-content>

<mat-dialog-actions>
    <mat-dialog-actions>
    <button class="mat-raised-button"(click)="dialogOK()">Ok</button>
    <button class="mat-raised-button mat-primary"(click)="dialogCancel()">Cancel</button>
</mat-dialog-actions> -->
 
