<div class="container ouncesDialog">

    <header mat-dialog-title>
        <label style="font-size: 20px;">{{title}}</label>
        <!--{{title}}-->
    </header>
    <div class="container">
        <div fxFlex="40" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" style="width:100%">
            <mat-card style="height:315px;width:300px;border:none">
                <mat-card-content>
                    <div class="scrollgrid-container mat-elevation-z8" style="height:234px">
                        <table #roleUITable mat-table class="roleTable" [dataSource]="rolesdataSource">
                            <!--[dataSource]="rolesdataSource"-->>
                            <ng-container matColumnDef="roleName">
                                <td mat-cell *matCellDef="let oRole" style="width:200px" class="columnTextElipsisUsers" [matTooltip]="oRole.roleName"
                                >{{oRole.roleName}}</td>
                            </ng-container>
                            <ng-container matColumnDef="selected">
                                <td mat-cell *matCellDef="let oRole">
                                    <mat-checkbox (change)="isRoleChange($event,oRole)" [checked]="oRole.selected">
                                    </mat-checkbox>
                                </td>
                            </ng-container>
                            <tr mat-row *matRowDef="let oRole; columns: roletabledisplayedColumns">
                            </tr>
                        </table>
                    </div><br>

                </mat-card-content>
                <div fxLayout="row" fxLayoutAlign="center" style="margin-top:-40px;">
                    <mat-dialog-actions fxLayout.xs="column wrap" fxLayout.sm="column wrap" fxLayoutGap="10px">
                        <button mat-raised-button class="filterButtonClass  mat-primary" color="primary" (click) = "addUnAssignedRoles()" style="margin-top:1px;">
                            <mat-icon>add</mat-icon> Add
                        </button>
                        <button mat-raised-button class="cancelButton filterButtonClass" (click)="roleDialogCancel()"   style="margin-top:1px;">
                            <mat-icon>cancel</mat-icon> Close
                        </button>
                    </mat-dialog-actions>
                </div>
            </mat-card>
        </div>
    </div>
    <!--ending of roles -->
</div>
