@import "../shared/Common.css";
@import "../shared/Panel.css";

.mat-dialog-title{
    align-content: left;
    background-color: #256275;
    color : white;
    font-size: 15px;
    size: 200px;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    margin: 0px;
}