
<div>
	<mat-card class="matCardAlign">
		<mat-card-content>
			<div fxLayout="row" fxLayoutGap="25px" fxLayout.sm="column" fxLayout.xs="column" style="margin-top:15px">
				<div fxFlex="50" fxLayout="column">
					<!-- search fields -->
					<div fxLayout="row" fxLayoutGap="15px" fxLayout.sm="row" fxLayout.md="row">	
						<mat-form-field style="width:89%" fxFlex.md="77%" fxFlex.xs="27%">
							<mat-label>Search Text</mat-label>
							<input matInput type="text" #filterText [(ngModel)]="searchText" placeholder="Description"
									matTooltip="Enter Search Text" (keypress)="omit_special_char($event)" (keydown.enter)="doFilter(searchText)">
						</mat-form-field>
						<div>
							<button type="submit" mat-raised-button color="primary"
							class="filterButtonClass" style="text-align:center;margin-top: 5px;" (click)="doFilter(searchText)">
								<mat-icon>search</mat-icon>Search
							</button>
						</div>
					</div>

					<div class="scrollgrid-container mat-elevation-z8">
						<table mat-table [dataSource]="dataSource" matSort matSortActive="description"
							matSortDirection="asc" [matSortDisableClear]="true">
							<!-- table Columns -->		
							<ng-container matColumnDef="description">
								<th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100"   fxLayoutAlign="start center">
									Description</th>
								<td mat-cell *matCellDef="let perfPattern" fxFlex="100"  class="columnTextElipsis" [matTooltip]="perfPattern.description" fxLayoutAlign="start center">
									{{perfPattern.description}}</td>
							</ng-container>
							<ng-container matColumnDef="delete">
								<th mat-header-cell *matHeaderCellDef   fxLayoutAlign="center center"> Delete </th>
								<td mat-cell *matCellDef="let perfPattern"  fxLayoutAlign="center center">
									<button mat-icon-button color="warn" (click)= "$event.stopPropagation()"
										(click)="deleteperfPattern(perfPattern.perfPattern)">
										<mat-icon class="mat-18">delete</mat-icon>
									</button>
								</td>
							</ng-container>
							<tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
							<tr mat-row (click)="selectRow(perfPattern)"
								*matRowDef="let perfPattern; columns: tableColumns"
								[style.background]="highlightedRows.indexOf(perfPattern) != -1 ? '#eaf4f9' : ''"></tr>
						</table>
						<div class="notFoundData" [hidden]="isTableHasData">
							{{noDataFound}}
						</div>
					</div>
				</div>

				<div fxFlex="35" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" style="margin-left:15px;">
					<mat-card style="margin-top:57px;">
						<mat-card-header>
							<p style="margin-top:5px;">Perforation Pattern Information</p>
						</mat-card-header>
						<mat-card-content>
							<!-- form fields -->
							<form [formGroup]="perfPatternForm" (ngSubmit)="onFormSubmit()" #f="ngForm">
								<div fxLayout="column">
									<mat-form-field style="margin-left:4px"  class="descriptionControls">
										<input matInput #perfpattern  formControlName="description"
											matTooltip="Enter Description" matInput placeholder="Description"
											(input)="isChange()"   maxlength="50" required [errorStateMatcher]="errorMatcher">
										<mat-error *ngIf="hasError('description', 'required')">Description is required.
										</mat-error>
										<mat-error *ngIf="hasError('description', 'maxlength')">Description cannot have
											more than 50 characters.</mat-error>
										<mat-error *ngIf="hasError('description', 'space')">{{SpaceMessage}}</mat-error>	
										</mat-form-field>
										<mat-error *ngIf="isInUse" style="font-size:11px;margin-left: 13px;">Perf Pattern in use.</mat-error>
								</div>
								<div fxLayout.lg="row" fxLayout.sm="row" fxLayout.md="row" fxLayout.xs="row"
									fxLayoutGap="15px" fxLayoutAlign="center center">
									<button type="submit" mat-raised-button color="primary" class="filterButtonClass"
										[disabled]="!(perfPatternForm.valid && isAllowSave)">
										<mat-icon>save</mat-icon> Save
									</button>
									<button type="button" mat-raised-button class="filterButtonClass" (click)="resetForm()">
										<mat-icon>clear_all</mat-icon> Reset
									</button>
								</div>
							</form>

						</mat-card-content>
					</mat-card>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
