.mat-dialog-title
{
    align-content: center;
    background-color: #256275;
    color : white;
    font-size: 15px;
    size: 200px;
    text-align: center;
    padding-top: 5px;
    margin: 0px;
}
.viewCustomerButton{
		align-content:center;
		font-size: 15px !important;
				
	}
	.customerIDWidth{
		width:10%
	}
	.colorWidth{
		width: 12%
	}
.btnColor
{
	background-color:#218cad;
	/* #259dc2; */
	/* #218cad; */
	color:white;
}
.mat-row:hover {
  cursor:pointer;
}

.headerdisplay
{
    background-color: #256275;
    color : white;
    font-size: 15px;
}

.custom-flex-column-container {
  display: flex;
  flex-direction: column;
}
.notFoundData{
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	font-style:italic;
}
.mat-option {
height: 25px !important;
line-height: 25px !important;
font-size:12px;
}


/* link button css*/
.linkButtons{
	line-height:25px;
	font-size:12px;
	background-color:transparent;
	margin-top:10px;
}
.mat-icon {
	font-size:17px;
	padding-top:3px;
}

.heldAddressDiv p{
	height: 20px !important;
    margin: 0px !important;
}


/*input controls css*/
.customer-name-full-width {
  width: 60%;
  padding-right:15px;
}
.control-space{
	padding-right:15px;
}
.control-space-width{
	padding-right:30px;
}
.control-space-width1{
	padding-right:20px;
}
.applicationCheckBoxes{
	line-height:35px;
	padding-left:12px;
}
.applicationLeftCheckBoxes{
	padding-left:22px;
}
.applicationLeftCheckBoxes:nth-child(1),.applicationLeftCheckBoxes:nth-child(9){
	padding-left:0px;
}
.stockDiv{
	margin-top:-22px !important;
	
}
.mat-expansion-panel-header
{
	    background:#e6ebec
}


  /*dialog boxes styles*/
  .cdk-overlay-pane{
	   min-width: 88vw;
  }
  .heldAddressMatCardDiv{
	margin-right:0px !important;
	
}

.scrollgrid-container {
    overflow: auto;
	height:auto;
  }
  
.mat-option {
	height: 25px !important;
	line-height: 25px !important;
	font-size:12px !important;
}

.mat-expansion-panel-header{
	background: #eaecf5;
}


 @media only screen and (max-width: 570px) {
 

	.notificationFieldSet{	
		width:30%;	
		overflow-x:scroll;
	}
 }
 #lbl_Endorsment{
	   width: 32.6%;
   }
 
 .ApplicationHeldAddressAlign table td:nth-child(2n+1){
	font-weight:bold;
	text-align:right;
	margin-right:5px;
}
/*css for big screens for checkboxes and endorsement label*/
@media only screen and (min-width: 1440px) {
	.applicationLeftCheckBoxes{
	   padding-left:29.5px;
   }
   #lbl_Endorsment{
	   width: 31.7%;
   }
}
@media only screen and (min-width: 1024px) {
	.control-space{
	   padding-right:12px;
   }
}

@media only screen and (max-width: 600px) {
	
	.customer-name-full-width {
	  padding-right:5px;
}
	
	.viewCustomerButton{
		
		
		width:100%;
		align-content:center;
		font-size: 15px;
		overflow: visible;  
		
	}
	.applicationControls{
		/* min-width:100%; */
		flex-direction:column;
	}
	
	.mat-expansion-panel-header-description, .mat-expansion-panel-header-title{
		font-size:11px;
	}
	
	/*dialog boxes styles*/
	  .cdk-overlay-pane{
		   min-width: 66vw;
	  }
	 
}
.mat-raised-button
{

	align-content:center;
	text-align:center;
	font-size: 15px;
	overflow: visible; 
	
	
}
.NumberInputAlignment{
	text-align:right !important;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}



/*Panel css start */

 mat-card-header p{
	    margin-top: 3px;
    margin-left: -21px;
}
mat-card-header{
	    padding: 0px;
    /* text-align: center; */
    color: white;
	/* font-weight:bold; */
    background-color: #008080;
	border-radius: 5px 5px 0px 0px;
	height:25px;
	border-bottom:1px solid rgba(0,0,0,0.5)
}
 mat-card{
	    margin-right: 15px;
    margin-top: 15px;
    padding: 0px;
	border-radius: 5px 5px 0px 0px;
	border:1px solid rgba(0,0,0,0.5)
}mat-card-content{
    padding: 10px;
}
.mat-card-header-text{
	margin: 0px 12px;
	
}
/deep/ .applicationContentsDiv{
	min-height:110%;
	margin-top:0px !important;
}

/*Panel css end */

/* For the hold reason control. */

@media only screen and (min-width: 1080px)  and (max-width: 1280px){
	
	.inputTextBoxControls{
		width: 100px !important;
	}
	.applicationLeftCheckBoxes{
		padding-left:15px;
	}
	.applicationLeftCheckBoxes:nth-child(1),.applicationLeftCheckBoxes:nth-child(9){
		padding-left:0px;
	}
	.heldReasonView{
		width: 76%;
	}
	.colorWidthView{
		width: 8%
	}
	.customerIDWidthView{
		width:7%
	}


}
@media only screen and (min-width: 1100px)  and (max-width: 1365px){
	.heldReason{
		width: 77.6%;
	}
	.heldReasonView{
		width: 74%;
	}
	.customerIDWidthView{
		width:7%
	}
	
}
@media only screen and (min-width: 1153px)  and (max-width: 1365px){
	.heldReason{
		width: 77.6%;
	}
	.heldReasonView{
		width: 77%;
	}
	.customerIDWidthView{
		width:7%
	}
	
}
@media only screen and (min-width: 1366px) and (max-width: 1399px) {
	.heldReason{
		width:77.7%;
	}
	.heldReasonView{
		width: 72.5%;
	}
	.colorWidthView{
		width: 8%
	}
	.customerIDWidthView{
		width:7%
	}
}
@media only screen and (min-width: 1400px) and (max-width: 1439px){
	.heldReason{
		width:77.1%;
	}
	.heldReasonView{
		width: 77.1%;
	}
	.customerIDWidthView{
		width:7%
	}
	
}
@media only screen and  (min-width:1440px) and (max-width: 1590px){
	.heldReason{
		width:77%;
	}
	.heldReasonView{
		width: 76%;
	}
	.customerIDWidthView{
		width:7%
	}
}
@media only screen and (min-width: 1600px) and (max-width:1670px) {
	.heldReason{
		width:76.3%;
	}
	.heldReasonView{
		width: 75%;
	}
	.customerIDWidthView{
		width:7%
	}
}
@media only screen and (min-width: 1680px) and (max-width: 1910px){
	.heldReason{
		width:76.1%;
	}
	.heldReasonView{
		width:74%;
	}
	.customerIDWidthView{
		width:7%
	}
}
@media only screen and (min-width: 1920px) {
	.heldReason{
		width:75.3%;
	}
	.heldReasonView{
		width: 74%;
	}
	.customerIDWidthView{
		width:7%
	}
}





